<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Fitbit Driver Settings</h1>
    <div id="profile-area">
    </div>
    <div id="sync-area">
      <h3>Sync status: <%= syncStatus %>
    </div>
  </body>
</html>
